{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}

<h1 style="color: whitesmoke" id="blogtitle" class="font-weight-bold text-center">Blog</h1>

<h3 style="color: whitesmoke" class="text-center mb-5">SAAL has written {{ blog.count }} blog{{ blog.count|pluralize }}</h3>

{% for blogs in blog %}
<div class="row justify-content-center my-3">
  <div class="col-md-10">
    <a href="{% url 'blogs:detail' blogs.id %}">
      <h2>{{ blogs.title }}</h2>
    </a>
    <h5 class="text-muted">{{ blogs.date|date:'M d Y'|upper }}</h5>
    <h4>{{ blog.description|striptags|truncatechars:100 }}</h4>

  </div>
</div>
{% endfor %}

{% endblock %}